servers:
  vars:
    ssh_keys:
      - /Users/user/.ssh/id_rsa1.pub
      - /Users/user/.ssh/id_rsa2.pub
      - /Users/user/.ssh/id_rsa3.pub
  hosts:
    server-1:
      ansible_host: 123.123.123.123
      ansible_user: root
      ansible_password: XS6Y7n6VyCdUrVWVx
